/* start of global styles */
*
{
  margin: 0;
  padding: 0;
}
body
{
  min-height: 100vh;
  background: #303030;
}
/* end of the global styles */
/* start of content styling - the particle */
span
{
  position: absolute;
  background: #f00;
  width: 10px;
  height: 10px;
  pointer-events: none;
  border-radius: 50%;
}
/* end of particle styling */
/* start of other multiple particles styles */
span::before
{
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: #fff;
  border-radius: 50%;
  animation: movingParticles 2s linear infinite;
}
/* end of other multiple particles styles */