/* start of global styles */
*
{
  margin: 0;
  padding: 0;
}
body
{
  min-height: 100vh;
  background: #303030;
}
/* end of the global styles */
/* start of content styling - the particle */
span
{
  position: absolute;
  background: #f00;
  width: 10px;
  height: 10px;
}
/* end of particle styling */